@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*The items are selected in the order they appear on the page. 
There are three major sections: header, middle and footer. 
Header is divided into navbar and hero;
Middle is not a section per se, as its not in a div, but it contains the main content of the page: infos, quotebanner and banner.
Footer is not divided. 
*/

body{
    height: 100vh;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    gap: 20px;
}

p{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 15px 250px;
    gap: 20px;
}

h5{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.navbarlinks{
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    gap:20px;
}

a{
    text-decoration: none;
}

.hero{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.herotext{
    display: flex;
    flex-direction: column;
    gap:10px;
}

#heromain{
    font-size: 48px;
    margin: 0;
    padding: 0;
}

#herobutton{
    border-radius: 10px;
    text-align: center;
    background-color: #3882f6;
    width: 90px;
    padding: 8px;
    margin-top: 15px;
}

#heroimg{
    width: 600px;
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.frames{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    padding: 20px;
}

.cat{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px;
}

.photo{
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.quotebanner{
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 50px 200px;
}

.quote{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

#quotetext{
    font-weight: lighter;
    font-style: italic;
}

#author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
}

.banner{
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    margin: 50px;
    width: 600px;
    align-self: center;
}



.button{
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 10px;
    padding: 5px 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 30px;
}